In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pymc3 as pm

%matplotlib inline

In [2]:
%%bash
ls data

Outcomes-a.txt
PhysioNet_Computing in_Cardiology_Challenge_2012.pdf
Reference.txt
seta_data.csv

## Exploratory Data Analysis

Questions:

- What is the more common outcome? Survival or death?
- What are the general ranges of each field?
- Which fields are most predictive of the outcome?
- When does missingness happen?
- Does missingness tell us inform us about the probability of survival? Or is it missing completely at random?
- Is there a subtype of people that the model is doing poorly on? Is there something in common among people that are mislabeled?
- Does the length of time tell us something about the measurements tell us something about survival?
- Should we see the times?
- What are the "normal" ranges for variable, given the literature? How much does an individual stay in (or outside) the "normal" range? given the 48 hours???

In [3]:
seta_data = pd.read_csv('data/seta_data.csv')
seta_data

         PATIENT_ID  Parameter   Time      Value
0            132539   RecordID  00:00  132539.00
1            132539        Age  00:00      54.00
2            132539     Gender  00:00       0.00
3            132539     Height  00:00      -1.00
4            132539    ICUType  00:00       4.00
5            132539     Weight  00:00      -1.00
6            132539        GCS  00:07      15.00
7            132539         HR  00:07      73.00
8            132539  NIDiasABP  00:07      65.00
9            132539      NIMAP  00:07      92.33
10           132539   NISysABP  00:07     147.00
11           132539   RespRate  00:07      19.00
12           132539       Temp  00:07      35.10
13           132539      Urine  00:07     900.00
14           132539         HR  00:37      77.00
15           132539  NIDiasABP  00:37      58.00
16           132539      NIMAP  00:37      91.00
17           132539   NISysABP  00:37     157.00
18           132539   RespRate  00:37      19.00
19           132539       Temp  00:37      35.60
20           132539      Urine  00:37      60.00
21           132539         HR  01:37      60.00
22           132539  NIDiasABP  01:37      62.00
23           132539      NIMAP  01:37      87.00
24           132539   NISysABP  01:37     137.00
25           132539   RespRate  01:37      18.00
26           132539      Urine  01:37      30.00
27           132539         HR  02:37      62.00
28           132539  NIDiasABP  02:37      52.00
29           132539      NIMAP  02:37      75.67
...             ...        ...    ...        ...
1757950      142673      NIMAP  45:36      92.00
1757951      142673   NISysABP  45:36     120.00
1757952      142673     SysABP  45:36     112.00
1757953      142673      Urine  45:36      23.00
1757954      142673     Weight  45:36      87.30
1757955      142673         pH  45:39       7.31
1757956      142673    DiasABP  46:36      54.00
1757957      142673         HR  46:36      86.00
1757958      142673        MAP  46:36      80.00
1757959      142673  NIDiasABP  46:36      67.00
1757960      142673      NIMAP  46:36      83.00
1757961      142673   NISysABP  46:36     133.00
1757962      142673     SysABP  46:36     121.00
1757963      142673       Temp  46:36      37.30
1757964      142673      Urine  46:36      40.00
1757965      142673     Weight  46:36      87.30
1757966      142673    DiasABP  47:21      57.00
1757967      142673         HR  47:21      86.00
1757968      142673        MAP  47:21      84.00
1757969      142673  NIDiasABP  47:21      66.00
1757970      142673      NIMAP  47:21      82.00
1757971      142673   NISysABP  47:21     129.00
1757972      142673     SysABP  47:21     127.00
1757973      142673     Weight  47:21      87.30
1757974      142673    DiasABP  47:36      59.00
1757975      142673         HR  47:36      84.00
1757976      142673        MAP  47:36      86.00
1757977      142673     SysABP  47:36     129.00
1757978      142673      Urine  47:36      30.00
1757979      142673     Weight  47:36      87.30

[1757980 rows x 4 columns]

In [37]:
outcomes.groupby('Survival').count()

          RecordID  SAPS-I  SOFA  Length_of_stay  In-hospital_death
Survival
-1            2526    2526  2526            2526               2526
 0               3       3     3               3                  3
 1              26      26    26              26                 26
 2              57      57    57              57                 57
 3              52      52    52              52                 52
 4              39      39    39              39                 39
 5              45      45    45              45                 45
 6              27      27    27              27                 27
 7              30      30    30              30                 30
 8              28      28    28              28                 28
 9              36      36    36              36                 36
 10             26      26    26              26                 26
 11             28      28    28              28                 28
 12             22      22    22              22                 22
 13             16      16    16              16                 16
 14             15      15    15              15                 15
 15             18      18    18              18                 18
 16             18      18    18              18                 18
 17             13      13    13              13                 13
 18              7       7     7               7                  7
 19             11      11    11              11                 11
 20              9       9     9               9                  9
 21             14      14    14              14                 14
 22              5       5     5               5                  5
 23              9       9     9               9                  9
 24              9       9     9               9                  9
 25              9       9     9               9                  9
 26             10      10    10              10                 10
 27              5       5     5               5                  5
 28              5       5     5               5                  5
...            ...     ...   ...             ...                ...
 1988            1       1     1               1                  1
 2003            1       1     1               1                  1
 2006            1       1     1               1                  1
 2009            1       1     1               1                  1
 2011            1       1     1               1                  1
 2013            1       1     1               1                  1
 2014            1       1     1               1                  1
 2047            1       1     1               1                  1
 2051            2       2     2               2                  2
 2053            1       1     1               1                  1
 2077            1       1     1               1                  1
 2099            1       1     1               1                  1
 2120            2       2     2               2                  2
 2130            1       1     1               1                  1
 2140            1       1     1               1                  1
 2141            1       1     1               1                  1
 2163            1       1     1               1                  1
 2188            1       1     1               1                  1
 2190            1       1     1               1                  1
 2192            1       1     1               1                  1
 2216            1       1     1               1                  1
 2274            1       1     1               1                  1
 2285            1       1     1               1                  1
 2333            1       1     1               1                  1
 2341            1       1     1               1                  1
 2350            1       1     1               1                  1
 2386            1       1     1               1                  1
 2408            1       1     1               1                  1
 2550            1       1     1               1                  1
 2600            1       1     1               1                  1

[617 rows x 5 columns]

In [33]:
seta_data['Time'] > '00:00'

PATIENT_ID
132539    False
132539    False
132539    False
132539    False
132539    False
132539    False
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
132539     True
          ...
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
142673     True
Name: Time, Length: 1757980, dtype: bool

In [29]:
outcomes = pd.read_csv('data/Outcomes-a.txt')

In [5]:
num_survivals = outcomes.groupby('In-hospital_death').count()['Survival']

In [6]:
num_survivals

In-hospital_death
0    3446
1     554
Name: Survival, dtype: int64

In [26]:
in_hospital_death_outcomes = outcomes[outcomes['In-hospital_death'] == 1]
not_in_hospital_death_outcomes = outcomes[outcomes['In-hospital_death'] == 0]

In [9]:
print(str(num_survivals[0] / (num_survivals[0] + num_survivals[1])) + ' of the sample survive.')

0.8615 of the sample survive.

In [10]:
seta_data.index = seta_data.PATIENT_ID

In [11]:
unique_patient_ids = seta_data.index.unique()

We could compare the values of those who did survive vs those who didn't survive, for each category. See if there are any patterns.

When there's a "-1", maybe we could just skip it?

Prior knowledge: 

1. People are more likely to die if their measurements are too high or too low (i.e. not normal).
2. Huge variability of measurements within an individual could indicate severity of a problem. Severity obviously influences mortality.
3. Where they end up affects the types of measurements that are collected, which might give us information about severity.

We could maybe find the optimal number of samples. Then we could take the average (or some statistic) of that certain section so we have a standardized data set.

In [13]:
{
    'HR': [60, 100] # https://www.mayoclinic.org/healthy-lifestyle/fitness/expert-answers/heart-rate/faq-20057979
    
}

{'HR': [60, 100]}

In [14]:
unique_parameters = seta_data['Parameter'].unique()
params_without_record_id = list(set(unique_parameters) - set(['RecordID']))

In [30]:
in_hospital_death_data = seta_data[seta_data.index.isin(in_hospital_death_outcomes['RecordID'])]
not_in_hospital_death_data = seta_data[seta_data.index.isin(not_in_hospital_death_outcomes['RecordID'])]

### plot data

In [19]:
def plot(parameter, data, ax):
    for patient_id in data.index.unique():
        patient = data.loc[patient_id]
        param = patient['Parameter'] == parameter
        if param.sum() > 0:
            # patient[param ]
            patient[param].plot(x='Time', y='Value', ax=ax, alpha=0.3, legend=False)

In [22]:
params_without_record_id

['ALT',
 'SysABP',
 'HCT',
 'Platelets',
 'TroponinT',
 'HR',
 'PaO2',
 'Lactate',
 'Temp',
 'Glucose',
 'GCS',
 'K',
 'Albumin',
 'MechVent',
 'HCO3',
 'MAP',
 'NIMAP',
 'SaO2',
 'Height',
 'Bilirubin',
 'FiO2',
 'Creatinine',
 'Urine',
 'TroponinI',
 'NIDiasABP',
 'Na',
 'NISysABP',
 'pH',
 'Weight',
 'ALP',
 'Gender',
 'Cholesterol',
 'WBC',
 'PaCO2',
 'AST',
 'ICUType',
 'Mg',
 'RespRate',
 'BUN',
 'DiasABP',
 'Age']

In [60]:
mean = seta_data.groupby((seta_data.index, 'Parameter')).mean()
mean

/Users/eddericugaddan/miniconda3/envs/icu-survival/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  """Entry point for launching an IPython kernel.

                       PATIENT_ID          Value
PATIENT_ID Parameter
132539     Age             132539      54.000000
           BUN             132539      10.500000
           Creatinine      132539       0.750000
           GCS             132539      14.923077
           Gender          132539       0.000000
           Glucose         132539     160.000000
           HCO3            132539      27.000000
           HCT             132539      32.500000
           HR              132539      70.810811
           Height          132539      -1.000000
           ICUType         132539       4.000000
           K               132539       4.200000
           Mg              132539       1.700000
           NIDiasABP       132539      50.147059
           NIMAP           132539      71.559118
           NISysABP        132539     114.382353
           Na              132539     136.500000
           Platelets       132539     203.000000
           RecordID        132539  132539.000000
           RespRate        132539      17.428571
           Temp            132539      37.357143
           Urine           132539     171.052632
           WBC             132539      10.300000
           Weight          132539      -1.000000
132540     Age             132540      76.000000
           BUN             132540      18.333333
           Creatinine      132540       1.100000
           DiasABP         132540      58.897059
           FiO2            132540       0.560000
           GCS             132540      13.333333
...                           ...            ...
142673     DiasABP         142673      57.836957
           FiO2            142673       0.600000
           GCS             142673       8.076923
           Gender          142673       0.000000
           Glucose         142673     126.000000
           HCO3            142673      19.666667
           HCT             142673      33.466667
           HR              142673      88.531915
           Height          142673     157.500000
           ICUType         142673       4.000000
           K               142673       4.900000
           Lactate         142673       3.238462
           MAP             142673      76.472527
           MechVent        142673       1.000000
           Mg              142673       2.350000
           NIDiasABP       142673      60.266667
           NIMAP           142673      73.533333
           NISysABP        142673     118.733333
           Na              142673     143.000000
           PaCO2           142673      40.041667
           PaO2            142673     163.458333
           Platelets       142673     100.222222
           RecordID        142673  142673.000000
           SaO2            142673      97.466667
           SysABP          142673     111.532609
           Temp            142673      36.381395
           Urine           142673      57.750000
           WBC             142673       9.228571
           Weight          142673      87.838889
           pH              142673       7.305600

[126993 rows x 2 columns]

Convert -1 to None so when we take aggregates, we don't make it seem that missing is basically almost the same as 0.

In [103]:
mean_reset = mean[['Value']].reset_index()

In [104]:
unique_parameters

array(['RecordID', 'Age', 'Gender', 'Height', 'ICUType', 'Weight', 'GCS',
       'HR', 'NIDiasABP', 'NIMAP', 'NISysABP', 'RespRate', 'Temp',
       'Urine', 'HCT', 'BUN', 'Creatinine', 'Glucose', 'HCO3', 'Mg',
       'Platelets', 'K', 'Na', 'WBC', 'pH', 'PaCO2', 'PaO2', 'DiasABP',
       'FiO2', 'MAP', 'MechVent', 'SysABP', 'SaO2', 'Albumin', 'ALP',
       'ALT', 'AST', 'Bilirubin', 'Lactate', 'Cholesterol', 'TroponinI',
       'TroponinT'], dtype=object)

In [121]:
def get_series(data, parameter, prefix, patient_id_column='PATIENT_ID'):
    """
        Returns a dataframe where the only column is the parameter. 
        Indexed by patient_id_column.
        
        Parameters:
            data: pandas.df
            
            parameter: string.
                name of the parameter (e.g. Age)
            
            patient_id_column: string. (Optional)
                the name of the column that identifies the patient
    """
    
    df = data[data['Parameter'] == parameter]
    grouped = df.groupby(patient_id_column).sum()
    grouped.columns = [prefix + parameter]
    
    return grouped

In [122]:
get_series(mean_reset, 'Age', prefix='mean_')

            mean_Age
PATIENT_ID
132539          54.0
132540          76.0
132541          44.0
132543          68.0
132545          88.0
132547          64.0
132548          68.0
132551          78.0
132554          64.0
132555          74.0
132556          64.0
132567          71.0
132568          66.0
132570          84.0
132573          77.0
132575          78.0
132577          65.0
132582          84.0
132584          78.0
132585          40.0
132588          48.0
132590          58.0
132591          81.0
132592          35.0
132595          26.0
132597          66.0
132598          80.0
132599          53.0
132601          74.0
132602          80.0
...              ...
142591          69.0
142595          67.0
142601          78.0
142603          61.0
142607          60.0
142609          38.0
142612          55.0
142618          57.0
142621          85.0
142626          83.0
142634          80.0
142635          67.0
142637          73.0
142638          74.0
142640          65.0
142641          50.0
142646          34.0
142649          75.0
142653          72.0
142654          66.0
142655          43.0
142659          88.0
142661          89.0
142662          86.0
142664          51.0
142665          70.0
142667          25.0
142670          44.0
142671          37.0
142673          78.0

[4000 rows x 1 columns]

In [125]:
mean_reset

        PATIENT_ID   Parameter          Value
0           132539         Age      54.000000
1           132539         BUN      10.500000
2           132539  Creatinine       0.750000
3           132539         GCS      14.923077
4           132539      Gender       0.000000
5           132539     Glucose     160.000000
6           132539        HCO3      27.000000
7           132539         HCT      32.500000
8           132539          HR      70.810811
9           132539      Height      -1.000000
10          132539     ICUType       4.000000
11          132539           K       4.200000
12          132539          Mg       1.700000
13          132539   NIDiasABP      50.147059
14          132539       NIMAP      71.559118
15          132539    NISysABP     114.382353
16          132539          Na     136.500000
17          132539   Platelets     203.000000
18          132539    RecordID  132539.000000
19          132539    RespRate      17.428571
20          132539        Temp      37.357143
21          132539       Urine     171.052632
22          132539         WBC      10.300000
23          132539      Weight      -1.000000
24          132540         Age      76.000000
25          132540         BUN      18.333333
26          132540  Creatinine       1.100000
27          132540     DiasABP      58.897059
28          132540        FiO2       0.560000
29          132540         GCS      13.333333
...            ...         ...            ...
126963      142673     DiasABP      57.836957
126964      142673        FiO2       0.600000
126965      142673         GCS       8.076923
126966      142673      Gender       0.000000
126967      142673     Glucose     126.000000
126968      142673        HCO3      19.666667
126969      142673         HCT      33.466667
126970      142673          HR      88.531915
126971      142673      Height     157.500000
126972      142673     ICUType       4.000000
126973      142673           K       4.900000
126974      142673     Lactate       3.238462
126975      142673         MAP      76.472527
126976      142673    MechVent       1.000000
126977      142673          Mg       2.350000
126978      142673   NIDiasABP      60.266667
126979      142673       NIMAP      73.533333
126980      142673    NISysABP     118.733333
126981      142673          Na     143.000000
126982      142673       PaCO2      40.041667
126983      142673        PaO2     163.458333
126984      142673   Platelets     100.222222
126985      142673    RecordID  142673.000000
126986      142673        SaO2      97.466667
126987      142673      SysABP     111.532609
126988      142673        Temp      36.381395
126989      142673       Urine      57.750000
126990      142673         WBC       9.228571
126991      142673      Weight      87.838889
126992      142673          pH       7.305600

[126993 rows x 3 columns]

In [128]:
def generate_aggregated_table(data, parameters, prefix, patient_id_column='PATIENT_ID'):
    """
        Produces a dataframe where columns are of aggregated quantities
        
        parameters:
            data: pandas.DataFrame
                Contains a patient id column (indicated by patient_id_column parameter),
                a Parameter column, and a Value column
                
            parameters: array of strings
                Contains the names of the parameters
                
            prefix: string
                The prefix to prepend to the column names. Used to indicate what type
                of aggregation there is (e.g. 'mean', 'var')
                
            patient_id_column: string (Optional)
                The name of the column that stands for the patient ID.
                Defaults to 'PATIENT_ID'
                
        returns: pandas.DataFrame
            Columns are of aggregated quantities
            
    """
    
    collection_df = get_series(data, parameters[0], prefix=prefix)
    
    for i in range(1, len(parameters)):
        
        collection_df = pd.merge(
            left=collection_df,
            right=get_series(data, parameters[i], prefix=prefix),
            how='left',
            on=patient_id_column
        )
        
    return pd.DataFrame(collection_df)

In [130]:
mean_data = generate_aggregated_table(mean_reset, unique_parameters, prefix='mean')
mean_data

,meanRecordID,meanAge,meanGender,meanHeight,meanICUType,meanWeight,meanGCS,meanHR,meanNIDiasABP,meanNIMAP,...,meanSaO2,meanAlbumin,meanALP,meanALT,meanAST,meanBilirubin,meanLactate,meanCholesterol,meanTroponinI,meanTroponinT
PATIENT_ID,,,,,,,,,,,,,,,,,,,,,
132539,132539.0,54.0,0.0,-1.0,4.0,-1.000000,14.923077,70.810811,50.147059,71.559118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132540,132540.0,76.0,1.0,175.3,2.0,80.670588,13.333333,80.794118,56.714286,75.308571,...,96.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132541,132541.0,44.0,0.0,-1.0,3.0,56.700000,5.923077,83.759259,79.000000,96.751316,...,95.000000,2.50,116.000000,83.000000,199.500000,2.900000,1.366667,NaN,NaN,NaN
132543,132543.0,68.0,1.0,180.3,3.0,84.600000,14.944444,70.983333,65.051724,83.885517,...,NaN,4.40,105.000000,12.000000,15.000000,0.200000,NaN,NaN,NaN,NaN
132545,132545.0,88.0,0.0,-1.0,3.0,-1.000000,15.000000,74.958333,45.720930,74.946512,...,NaN,3.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132547,132547.0,64.0,1.0,180.3,1.0,114.000000,8.666667,88.531915,70.500000,81.985000,...,97.000000,NaN,101.000000,52.500000,104.500000,0.400000,NaN,212.0,1.300000,NaN
132548,132548.0,68.0,0.0,162.6,3.0,87.000000,15.000000,68.338983,72.000000,102.147143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.750000,NaN
132551,132551.0,78.0,0.0,162.6,3.0,48.400000,11.846154,70.945205,30.697674,55.177907,...,96.400000,1.90,47.000000,46.000000,82.000000,0.300000,1.637500,NaN,3.300000,NaN
132554,132554.0,64.0,0.0,-1.0,3.0,60.700000,15.000000,127.239130,64.478261,84.477391,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132555,132555.0,74.0,1.0,175.3,2.0,68.582759,14.083333,85.189655,53.000000,75.670000,...,97.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132556,132556.0,64.0,0.0,-1.0,3.0,65.000000,15.000000,110.562500,48.166667,57.288136,...,NaN,2.70,402.000000,36.000000,47.000000,0.100000,5.566667,NaN,NaN,NaN
132567,132567.0,71.0,0.0,157.5,2.0,55.806897,14.181818,95.227273,43.433333,64.667333,...,97.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132568,132568.0,66.0,0.0,157.5,3.0,84.500000,15.000000,88.500000,56.897436,71.216216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132570,132570.0,84.0,1.0,170.2,1.0,102.307143,14.600000,70.609756,48.675000,72.384615,...,98.000000,NaN,19.000000,15.000000,20.000000,0.100000,NaN,NaN,NaN,NaN
132573,132573.0,77.0,1.0,162.6,1.0,92.861905,15.000000,73.660714,48.553571,82.838214,...,NaN,2.90,NaN,NaN,57.000000,NaN,NaN,NaN,6.600000,NaN
132575,132575.0,78.0,1.0,167.6,2.0,72.096774,10.857143,84.492537,NaN,NaN,...,96.461538,NaN,NaN,NaN,NaN,NaN,1.500000,NaN,NaN,NaN
132577,132577.0,65.0,1.0,-1.0,3.0,66.383333,12.125000,84.479167,74.909091,99.651818,...,96.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132582,132582.0,84.0,1.0,182.9,3.0,82.500000,14.846154,94.071429,43.870370,66.074074,...,NaN,2.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132584,132584.0,78.0,0.0,-1.0,3.0,72.800000,9.916667,84.125000,64.294118,84.742353,...,NaN,2.35,49.500000,10.000000,16.500000,1.250000,1.242857,84.0,NaN,0.193333
132585,132585.0,40.0,0.0,165.1,2.0,89.200000,13.785714,80.456140,41.571429,57.285714,...,98.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132588,132588.0,48.0,0.0,154.9,3.0,42.300000,15.000000,93.850000,50.083333,64.148611,...,NaN,2.00,181.000000,64.666667,147.666667,7.700000,NaN,NaN,NaN,NaN
132590,132590.0,58.0,1.0,188.0,2.0,103.333333,12.000000,97.540984,55.000000,75.670000,...,98.000000,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN
132591,132591.0,81.0,1.0,-1.0,3.0,63.700000,15.000000,70.137255,55.745098,74.143529,...,NaN,NaN,NaN,NaN,NaN,NaN,1.600000,NaN,NaN,0.140000
132592,132592.0,35.0,0.0,-1.0,3.0,71.800000,15.000000,97.071429,60.609756,80.925610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.377500
132595,132595.0,26.0,0.0,-1.0,3.0,-1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.750000,NaN,NaN,NaN
132597,132597.0,66.0,0.0,137.2,3.0,82.000000,15.000000,68.792453,39.346154,60.493077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.633333,NaN
132598,132598.0,80.0,0.0,-1.0,4.0,60.000000,7.173913,78.708861,66.767442,89.037674,...,98.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132599,132599.0,53.0,0.0,177.8,4.0,73.500000,8.416667,85.392857,63.000000,79.500000,...,98.000000,2.00,117.333333,13.333333,19.666667,1.633333,1.800000,NaN,NaN,0.020000
132601,132601.0,74.0,1.0,177.8,2.0,75.900000,12.538462,99.241935,66.000000,93.000000,...,98.125000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132602,132602.0,80.0,1.0,180.3,3.0,70.000000,15.000000,74.452830,66.380000,80.791667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142591,142591.0,69.0,1.0,177.8,2.0,103.909091,14.615385,84.928571,57.090909,67.545455,...,NaN,NaN,NaN,NaN,NaN,NaN,2.650000,NaN,NaN,NaN
142595,142595.0,67.0,1.0,-1.0,3.0,68.000000,14.900000,80.820513,52.838710,65.884615,...,NaN,3.00,55.000000,18.000000,21.000000,0.825000,NaN,NaN,NaN,NaN
142601,142601.0,78.0,0.0,157.5,2.0,66.814706,8.142857,102.306452,63.250000,75.250000,...,95.444444,NaN,NaN,NaN,NaN,NaN,2.716667,NaN,NaN,NaN
142603,142603.0,61.0,1.0,182.9,4.0,80.375000,5.470588,92.333333,NaN,NaN,...,97.285714,NaN,NaN,NaN,NaN,NaN,1.800000,NaN,29.366667,NaN
142607,142607.0,60.0,1.0,-1.0,1.0,99.667647,15.000000,73.843750,54.785714,69.535536,...,NaN,NaN,98.000000,54.000000,223.000000,0.600000,NaN,NaN,NaN,6.376667
142609,142609.0,38.0,0.0,165.1,2.0,80.000000,7.818182,87.000000,45.333333,64.003333,...,98.000000,4.60,NaN,29.000000,46.000000,NaN,4.662500,NaN,10.133333,NaN
142612,142612.0,55.0,0.0,-1.0,3.0,109.700000,7.187500,65.791045,NaN,NaN,...,96.000000,2.60,71.000000,38.000000,49.000000,0.300000,1.200000,NaN,NaN,NaN
142618,142618.0,57.0,1.0,188.0,3.0,93.500000,7.466667,100.108434,49.933333,66.866444,...,98.000000,2.30,NaN,30.000000,22.000000,0.600000,2.800000,NaN,NaN,NaN
142621,142621.0,85.0,0.0,-1.0,3.0,61.500000,14.785714,60.057971,42.298507,72.556567,...,NaN,NaN,51.000000,12.000000,17.000000,0.300000,NaN,NaN,NaN,NaN
142626,142626.0,83.0,1.0,180.3,4.0,70.000000,9.620690,93.139241,46.850000,75.032000,...,97.000000,NaN,NaN,NaN,NaN,NaN,1.300000,NaN,NaN,0.080000
142634,142634.0,80.0,1.0,167.6,3.0,63.900000,13.800000,69.071429,64.310345,95.938448,...,NaN,2.50,41.000000,13.000000,16.000000,1.300000,NaN,NaN,NaN,NaN
142635,142635.0,67.0,0.0,170.2,4.0,108.458491,8.300000,85.396226,45.700000,72.533000,...,97.666667,NaN,NaN,NaN,NaN,NaN,1.100000,NaN,NaN,0.030000
142637,142637.0,73.0,0.0,152.4,2.0,57.700000,11.750000,76.951220,41.400000,60.202000,...,97.428571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142638,142638.0,74.0,0.0,-1.0,3.0,65.000000,14.764706,57.946429,37.833333,54.635926,...,93.000000,NaN,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN
142640,142640.0,65.0,1.0,-1.0,3.0,105.100000,14.909091,101.078431,65.954545,74.022727,...,NaN,3.10,209.666667,105.333333,55.000000,6.050000,NaN,NaN,NaN,NaN
142641,142641.0,50.0,0.0,-1.0,4.0,-1.000000,15.000000,60.928571,67.277778,90.757500,...,NaN,NaN,57.000000,9.000000,13.000000,0.200000,NaN,132.0,NaN,NaN
142646,142646.0,34.0,1.0,175.3,4.0,70.000000,15.000000,65.893939,48.375000,61.923077,...,NaN,3.90,37.000000,39.000000,46.000000,0.900000,NaN,NaN,NaN,NaN
142649,142649.0,75.0,1.0,-1.0,3.0,80.700000,15.000000,80.365854,55.609756,82.444634,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.775000,NaN
142653,142653.0,72.0,0.0,165.1,4.0,80.283333,11.944444,106.147541,75.285714,88.714286,...,NaN,NaN,NaN,NaN,NaN,NaN,3.533333,NaN,NaN,NaN
142654,142654.0,66.0,1.0,-1.0,3.0,78.200000,15.000000,62.306122,54.058824,63.360000,...,NaN,2.70,146.000000,35.000000,172.000000,35.350000,2.700000,NaN,NaN,NaN
142655,142655.0,43.0,1.0,-1.0,3.0,92.933962,12.150000,107.425926,49.666667,63.443333,...,97.000000,NaN,49.000000,132.000000,63.000000,0.300000,2.825000,NaN,NaN,0.020000
142659,142659.0,88.0,1.0,-1.0,1.0,90.700000,15.000000,75.192308,48.265625,64.926406,...,95.000000,NaN,163.000000,115.000000,80.000000,9.200000,NaN,NaN,NaN,NaN
142661,142661.0,89.0,1.0,177.8,4.0,64.000000,11.043478,86.073171,60.523810,84.624048,...,NaN,3.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142662,142662.0,86.0,1.0,162.6,3.0,53.000000,14.111111,83.345679,41.886076,68.543671,...,NaN,2.60,173.500000,31.500000,36.000000,1.000000,NaN,NaN,NaN,NaN
142664,142664.0,51.0,0.0,-1.0,4.0,75.000000,9.956522,95.827586,NaN,NaN,...,98.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142665,142665.0,70.0,0.0,-1.0,4.0,87.000000,13.071429,99.230769,62.966667,79.144333,...,NaN,NaN,NaN,NaN,NaN,NaN,2.200000,NaN,NaN,NaN
142667,142667.0,25.0,1.0,-1.0,3.0,166.400000,15.000000,79.136364,58.409091,81.471364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.0,NaN,NaN
142670,142670.0,44.0,1.0,-1.0,3.0,109.000000,6.166667,97.884615,60.804348,80.529130,...,NaN,NaN,51.000000,20.000000,20.000000,0.500000,NaN,NaN,NaN,NaN
142671,142671.0,37.0,1.0,-1.0,3.0,87.400000,5.625000,88.461538,NaN,NaN,...,NaN,3.10,169.000000,1971.000000,1685.333333,0.733333,1.900000,NaN,NaN,NaN
142673,142673.0,78.0,0.0,157.5,4.0,87.838889,8.076923,88.531915,60.266667,73.533333,...,97.466667,2.20,44.000000,18.500000,126.000000,0.600000,3.238462,NaN,NaN,NaN

In [133]:
mean_data.isnull().describe()

,meanRecordID,meanAge,meanGender,meanHeight,meanICUType,meanWeight,meanGCS,meanHR,meanNIDiasABP,meanNIMAP,...,meanSaO2,meanAlbumin,meanALP,meanALT,meanAST,meanBilirubin,meanLactate,meanCholesterol,meanTroponinI,meanTroponinT
count,4000,4000,4000,4000,4000,4000,4000,4000,4000,4000,...,4000,4000,4000,4000,4000,4000,4000,4000,4000,4000
unique,1,1,1,1,1,1,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
top,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,True,True,True
freq,4000,4000,4000,4000,4000,4000,3936,3937,3483,3481,...,2208,2385,2310,2279,2275,2282,2183,3695,3795,3137

In [131]:
mean_data.describe()

,meanRecordID,meanAge,meanGender,meanHeight,meanICUType,meanWeight,meanGCS,meanHR,meanNIDiasABP,meanNIMAP,...,meanSaO2,meanAlbumin,meanALP,meanALT,meanAST,meanBilirubin,meanLactate,meanCholesterol,meanTroponinI,meanTroponinT
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,3936.000000,3937.000000,3483.000000,3481.000000,...,1792.000000,1615.000000,1690.000000,1721.000000,1725.000000,1718.000000,2183.000000,305.000000,205.000000,863.000000
mean,137605.122000,64.247500,0.560750,88.919475,2.760000,76.809694,11.604248,87.159565,57.351445,76.300441,...,96.564943,2.971867,104.634113,171.741809,240.465689,1.902148,2.319835,156.573770,6.968969,1.065439
std,2923.608886,17.560946,0.497867,86.531203,1.002572,31.903953,3.255690,14.603828,11.702949,12.106704,...,3.393059,0.636383,106.377076,642.756400,887.235095,4.426709,1.628966,46.333551,9.602334,2.622287
min,132539.000000,15.000000,-1.000000,-1.000000,1.000000,-1.000000,3.000000,42.784314,0.000000,0.000000,...,38.800000,1.100000,12.000000,3.000000,6.000000,0.100000,0.400000,28.000000,0.300000,0.010000
25%,135075.750000,52.750000,0.000000,-1.000000,2.000000,63.200000,9.250000,77.066667,49.264232,67.933500,...,96.000000,2.500000,57.000000,17.000000,25.000000,0.400000,1.350000,123.000000,0.800000,0.049500
50%,137592.500000,67.000000,1.000000,152.400000,3.000000,78.300357,12.428571,86.325581,56.275862,74.786000,...,97.250000,3.000000,78.000000,31.000000,46.000000,0.700000,1.883333,153.000000,2.133333,0.140000
75%,140100.250000,78.000000,1.000000,170.200000,4.000000,93.058712,14.770105,96.701754,64.591667,83.405435,...,98.000000,3.400000,110.000000,70.000000,104.500000,1.400000,2.750000,188.000000,9.550000,0.765000
max,142673.000000,90.000000,1.000000,431.800000,4.000000,300.000000,15.000000,137.842105,107.500000,132.540000,...,100.000000,5.300000,1472.333333,9143.428571,15680.000000,46.366667,24.800000,330.000000,49.200000,24.040000

In [ ]:
params_to_plot = params_without_record_id
fig, ax = plt.subplots(len(params_to_plot),2, figsize=(20,len(params_to_plot) * 3))


for index, param in enumerate(params_to_plot):
    survive_axis = ax[index, 0]
    plot(parameter=param, data=survivor_data, ax=survive_axis)
#     survive_axis.set_xlim(0,100)
    survive_axis.set_title('Survived: ' + param)
    
    die_axis = ax[index, 1]
    plot(parameter=param, data=dead_data, ax=die_axis)
#     die_axis.set_xlim(0,100)
    die_axis.set_title('Died: ' + param)

plt.tight_layout()

/Users/eddericugaddan/miniconda3/envs/icu-survival/lib/python3.7/site-packages/pandas/plotting/_core.py:998: UserWarning: Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=0.0, right=0.0
  ax.set_xlim(left, right)

KeyboardInterrupt:

ERROR:root:Invalid alias: The name clear can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name more can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name less can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name man can't be aliased because it is another magic command.

In [26]:
pd.merge(left=seta_data, right=outcomes, left_on='PATIENT_ID', right_on='RecordID')

,PATIENT_ID,Parameter,Time,Value,RecordID,SAPS-I,SOFA,Length_of_stay,Survival,In-hospital_death
0,132539,RecordID,00:00,132539.00,132539,6,1,5,-1,0
1,132539,Age,00:00,54.00,132539,6,1,5,-1,0
2,132539,Gender,00:00,0.00,132539,6,1,5,-1,0
3,132539,Height,00:00,-1.00,132539,6,1,5,-1,0
4,132539,ICUType,00:00,4.00,132539,6,1,5,-1,0
5,132539,Weight,00:00,-1.00,132539,6,1,5,-1,0
6,132539,GCS,00:07,15.00,132539,6,1,5,-1,0
7,132539,HR,00:07,73.00,132539,6,1,5,-1,0
8,132539,NIDiasABP,00:07,65.00,132539,6,1,5,-1,0
9,132539,NIMAP,00:07,92.33,132539,6,1,5,-1,0
10,132539,NISysABP,00:07,147.00,132539,6,1,5,-1,0
11,132539,RespRate,00:07,19.00,132539,6,1,5,-1,0
12,132539,Temp,00:07,35.10,132539,6,1,5,-1,0
13,132539,Urine,00:07,900.00,132539,6,1,5,-1,0
14,132539,HR,00:37,77.00,132539,6,1,5,-1,0
15,132539,NIDiasABP,00:37,58.00,132539,6,1,5,-1,0
16,132539,NIMAP,00:37,91.00,132539,6,1,5,-1,0
17,132539,NISysABP,00:37,157.00,132539,6,1,5,-1,0
18,132539,RespRate,00:37,19.00,132539,6,1,5,-1,0
19,132539,Temp,00:37,35.60,132539,6,1,5,-1,0
20,132539,Urine,00:37,60.00,132539,6,1,5,-1,0
21,132539,HR,01:37,60.00,132539,6,1,5,-1,0
22,132539,NIDiasABP,01:37,62.00,132539,6,1,5,-1,0
23,132539,NIMAP,01:37,87.00,132539,6,1,5,-1,0
24,132539,NISysABP,01:37,137.00,132539,6,1,5,-1,0
25,132539,RespRate,01:37,18.00,132539,6,1,5,-1,0
26,132539,Urine,01:37,30.00,132539,6,1,5,-1,0
27,132539,HR,02:37,62.00,132539,6,1,5,-1,0
28,132539,NIDiasABP,02:37,52.00,132539,6,1,5,-1,0
29,132539,NIMAP,02:37,75.67,132539,6,1,5,-1,0
...,...,...,...,...,...,...,...,...,...,...
1757950,142673,NIMAP,45:36,92.00,142673,25,11,7,-1,0
1757951,142673,NISysABP,45:36,120.00,142673,25,11,7,-1,0
1757952,142673,SysABP,45:36,112.00,142673,25,11,7,-1,0
1757953,142673,Urine,45:36,23.00,142673,25,11,7,-1,0
1757954,142673,Weight,45:36,87.30,142673,25,11,7,-1,0
1757955,142673,pH,45:39,7.31,142673,25,11,7,-1,0
1757956,142673,DiasABP,46:36,54.00,142673,25,11,7,-1,0
1757957,142673,HR,46:36,86.00,142673,25,11,7,-1,0
1757958,142673,MAP,46:36,80.00,142673,25,11,7,-1,0
1757959,142673,NIDiasABP,46:36,67.00,142673,25,11,7,-1,0
1757960,142673,NIMAP,46:36,83.00,142673,25,11,7,-1,0
1757961,142673,NISysABP,46:36,133.00,142673,25,11,7,-1,0
1757962,142673,SysABP,46:36,121.00,142673,25,11,7,-1,0
1757963,142673,Temp,46:36,37.30,142673,25,11,7,-1,0
1757964,142673,Urine,46:36,40.00,142673,25,11,7,-1,0
1757965,142673,Weight,46:36,87.30,142673,25,11,7,-1,0
1757966,142673,DiasABP,47:21,57.00,142673,25,11,7,-1,0
1757967,142673,HR,47:21,86.00,142673,25,11,7,-1,0
1757968,142673,MAP,47:21,84.00,142673,25,11,7,-1,0
1757969,142673,NIDiasABP,47:21,66.00,142673,25,11,7,-1,0
1757970,142673,NIMAP,47:21,82.00,142673,25,11,7,-1,0
1757971,142673,NISysABP,47:21,129.00,142673,25,11,7,-1,0
1757972,142673,SysABP,47:21,127.00,142673,25,11,7,-1,0
1757973,142673,Weight,47:21,87.30,142673,25,11,7,-1,0
1757974,142673,DiasABP,47:36,59.00,142673,25,11,7,-1,0
1757975,142673,HR,47:36,84.00,142673,25,11,7,-1,0
1757976,142673,MAP,47:36,86.00,142673,25,11,7,-1,0
1757977,142673,SysABP,47:36,129.00,142673,25,11,7,-1,0
1757978,142673,Urine,47:36,30.00,142673,25,11,7,-1,0
1757979,142673,Weight,47:36,87.30,142673,25,11,7,-1,0

In [7]:
seta_data['Parameter'].unique()

array(['RecordID', 'Age', 'Gender', 'Height', 'ICUType', 'Weight', 'GCS',
       'HR', 'NIDiasABP', 'NIMAP', 'NISysABP', 'RespRate', 'Temp',
       'Urine', 'HCT', 'BUN', 'Creatinine', 'Glucose', 'HCO3', 'Mg',
       'Platelets', 'K', 'Na', 'WBC', 'pH', 'PaCO2', 'PaO2', 'DiasABP',
       'FiO2', 'MAP', 'MechVent', 'SysABP', 'SaO2', 'Albumin', 'ALP',
       'ALT', 'AST', 'Bilirubin', 'Lactate', 'Cholesterol', 'TroponinI',
       'TroponinT'], dtype=object)